@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Product
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.Id))
                {
                    <tr>
                        <td>@obj.Title</td>
                        <td>@obj.ISBN</td>
                        <td>@obj.Price</td>
                        <td>@obj.Author</td>
                        <td>@obj.CategoryId</td>


                        <td>
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary"> <i class="bi bi-pencil-square"></i>Edit</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"> <i class="bi bi-trash"></i>Delete</a>


                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}
