@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Product.Id !=0 ? "Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <input asp-for="@Model.Product.ImgUrl" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">

                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Product.Title" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.Title" class="ms-2"></label>
                            <span asp-validation-for="@Model.Product.Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="@Model.Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="@Model.Product.Description" class="form-control border-0 shadow"></textarea>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Product.ISBN" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.ISBN" class="ms-2"></label>
                            <span asp-validation-for="@Model.Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Product.Author" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.Author" class="ms-2"></label>
                            <span asp-validation-for="@Model.Product.Author" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Product.ListPrice" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.ListPrice" class="ms-2"></label>
                            <span asp-validation-for="@Model.Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Product.Price" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.Price" class="ms-2"></label>
                            <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Product.Price50" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.Price50" class="ms-2"></label>
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Product.Price100" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.Price100" class="ms-2"></label>
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="@Model.Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="@Model.Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">

                            <input type ="file" name="file" asp-for="@Model.Product.ImgUrl" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Product.ImgUrl" class="ms-2"></label>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">


                                @if(@Model.Product.Id !=0) { 
                                <button type="submit" class="btn btn-primary form-control">Edit</button>
                                }
                                else {
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-2">
                <img src="@Model.Product.ImgUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        </form>
    </div>
</div>




@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}