@model IEnumerable<Order> 



<div class="row pb-3">
    <h2>Your Oders</h2>
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                      <img src="@product.Product.ImgUrl" >

                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.Product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        @product.Product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    As low as:
                                    <span>
                                        @product.Product.Price100.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.Product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                        <br>
                        <div>
                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                               Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



